<!DOCTYPE html>
<html>
<head>
    <link href="/stylesheets/results.css" rel="stylesheet" type="text/css"/>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
    <div id="home"></div>
    <h1><i>CanaFly</i></h1>
        <div class="button-container">
        <div class="user-button" id="logout">
            Logout
        </div>
    </div>
    <div id="main-wrap">
        <div id="results-main">
            <h2>Your Results</h2>
      <div id="json-table">{{>populated_results}}</div>
            <div id="submit-wrap">
        <form method="get" action="/saved" method="post">
            <div id="submit-field">
          <input type="submit" id="save" value="Save Results">
            </div>
        </form>
            </div>
        </div>
    </div>
  <script src="/javascripts/index.js"></script>
  
</body>
    {{> footer}}
</html>