body{
	background-color: #f9fffe;
}

h1{
	font-family: "Trebuchet MS", sans-serif;
	letter-spacing: 4px;
	color: #33373a;
}

#home{
	position: absolute;
	width: 147px;
	height: 40px;
}

#home:hover{
	cursor: pointer;
}

h2{
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	text-transform: uppercase;
	padding-top: 10px;
	width: 320px;
}

/*Account buttons
*/
.button-container{
	position: absolute;
	width: 100px;
	height: 50px;
	right: 0px;
	top: 0px;
	margin: 10px;
}

.user-button{
	position: relative;
	width: 64px;
	height: 35px;
	margin: 7px;
	right: 0px;
	background-color: #dddddd;
	border-radius: 1px;
	border-style: solid;
    border-width: 0.5px 1px 1px 1px;
    border-color: #c1c1c1;
	text-align: center;
	line-height: 33px;
	font-family: "Trebuchet MS", sans-serif;
	box-shadow: 0.5px 1px #8c8c8c;
	float: left;
}

.user-button:hover{
	cursor: pointer;
}

.user-button:active{
	background-color: #c9c9c9;
	border-color: #cecece;
}

/*Login and Register forms
*/
#main-wrap{
	width: 100%;
	height: 500px;
	background-size: cover;
	background-color: #edf1ff;
	background-image: url(../img/airport.jpg);
}

#main-wrap-cover{
	width: 100%;
	height: 500px;
	position: absolute;
	background-color: black;
	opacity: 0.4;
}

#main-wrap-msg{
	position: absolute;
	top: 200px;
	left: 520px;
	color: white;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 50px;
}

#login-wrap{
	position: absolute;
	width: 52.5%;
	height: 500px;
	margin: auto;
	left: 100px;
	float: left;
}

.gen-main{
	width: 320px;
	height: 380px;
	background-color: white;
	border-radius: 2px;
	box-shadow: -1px 0px 1px 1px #846026, 1px 0px 1px 1px #846026;
	float: left;
	position: relative;
	margin: 20px;
	left: 0px;
	right: 0px;
}

#form-wrap{
	margin: auto;
	left: 0px;
	right: 0px;
	width: 400px;
	height: 200px;
}

.label{
	padding-right: 5px;
	width: 125px;
	height: 25px;
	float: left;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	background-color: #e2e2e2;
	text-align: right;
	line-height: 30px;
	border-style: solid;
    border-width: 0.5px 0 1px 1px;
    border-color: #dadada;
    border-radius: 3px 0px 0px 3px;
}

.log-label{
	padding-right: 5px;
	width: 95px;
	height: 25px;
	float: left;
	font-family: "Arial", sans-serif;
	font-size: 14px;
	background-color: #e2e2e2;
	text-align: right;
	line-height: 30px;
	border-style: solid;
    border-width: 0.5px 0 1px 1px;
    border-color: #dadada;
    border-radius: 3px 0px 0px 3px;
}

.form-whole{
	float: left;
	margin: 5px;
}

.form-field{
	width: 175px;
	height: 20px;
}

.log-form-field{
	width: 205px;
	height: 20px;
}

.submit-wrap{
	margin: 10px;
	height: 50px;
}

.submit-field{
	margin: auto;
	position: relative;
	height: 100%;
	width: 180px;
	left: 0px;
	right: 0px;
}

input[type=submit]{
	font-family: "Trebuchet MS", sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background-color: #e26d24;
	letter-spacing: 1.5px;
	text-align: center;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	box-shadow: 0 2px #914f00;
}

input[type=submit]:hover{
	background-color: #c44111;
	box-shadow: 0 2px #c44111;
	transition: 0.14s;
	cursor: pointer;
}